
@{
    ViewBag.Title = "TaskSummary";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="header"><h3>@ViewBag.PageTitle</h3></div>
@(
                              Html.Kendo().TabStrip()
                                    .Name("ProjectNote")
                                    .Animation(a => a.Open(e => e.Fade(FadeDirection.In)))
                                    .Items(i =>
                                    {
                                        i.Add()
                                         .Text("派给我的")
                                         .Selected(true)
                                         .Content("");
                                        i.Add()
                                         .Text("我安排的")
                                         .Content("");
                                        i.Add()
                                         .Text("我参与的")
                                         .Content("");
                                    })
)

